
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/

/*    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));*/
/*    --secondary-glow: linear-gradient(*/
/*      to bottom right,*/
/*      rgba(1, 65, 255, 0),*/
/*      rgba(1, 65, 255, 0),*/
/*      rgba(1, 65, 255, 0.3)*/
/*    );*/

/*    --tile-start-rgb: 2, 13, 46;*/
/*    --tile-end-rgb: 2, 5, 19;*/
/*    --tile-border: conic-gradient(*/
/*      #ffffff80,*/
/*      #ffffff40,*/
/*      #ffffff30,*/
/*      #ffffff20,*/
/*      #ffffff10,*/
/*      #ffffff10,*/
/*      #ffffff80*/
/*    );*/

/*    --callout-rgb: 20, 20, 20;*/
/*    --callout-border-rgb: 108, 108, 108;*/
/*    --card-rgb: 100, 100, 100;*/
/*    --card-border-rgb: 200, 200, 200;*/
/*  }*/
/*}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    color-scheme: dark;*/
/*  }*/
/*}*/


.comment-section {
  background-color: #f2f2f2;
  padding: 20px;
}

.comment {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.comment.even {
  background-color: #fff;
}

.comment.odd {
  background-color: #f2f2f2;
}

.comment-avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.comment-header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-author-name {
  font-weight: bold;
  font-size: 1.2rem;
  color: #3c3c3c;
  margin-bottom: 5px;
}

.comment-date {
  font-size: 0.8rem;
  color: #7c7c7c;
}

.comment-text {
  margin-left: 58px;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #3c3c3c;
}

.comment-form {
  background-color: #f2f2f2;
  padding: 20px;
}

.comment-form h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #3c3c3c;
}

.comment-input {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 1.5;
  border: 2px solid #009900;
  border-radius: 4px;
  outline: none;
  resize: none;
}

.comment-btn {
  background-color: #009900;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-btn:hover {
  background-color: #008000;
}


.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.modal-close {
  display: none;
}